{% extends 'base.html.twig' %}

{% block title %}
	Shield {{shield.data[0].shield}}
{% endblock %}

{% block body %}
	{# United Sanctuary #}
	<h5>Shield : {{shield.data[0].shield}}</h5>
	<div class="grid-cols-6 text-center united">
		{% for card in shield.data %}
			<div class="border border-2 border-light ">
				{% if card.imageurlen %}
					<img class="cartes pt-3" src="{{card.imageurlen}}" alt="{{card.name}}">
				{% else %}
					<img class="cartes pt-3" src="{{card.imageurljp}}" alt="{{card.name}}">
				{% endif %}
				<h5 class="mt-4">
					<a href={{path('detail_card',{'id': card.id} )}}>{{card.name}}</a>
				</h5>
			</div>
		{% endfor %}
	</div>
{% endblock %}
